@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.contentOuter{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

}
.inner{
  position: absolute;
  top:20vh;
  color: white;
  left: 20vw;
  font-size: 5em;

}
.innerText{
  /* color: black; */
  font-family: 'Roboto', sans-serif;
}

.innerTextWelcome{
  /* color: black; */
  padding-left: 55px;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
}
